.tech {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.tech__bg {
  background-image: url("../../assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100%;
}
.tech__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
}
.tech__textfield {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 327px;
  height: 243px;
}
.tech__image {
  width: 373px;
  height: 258px;
  margin-bottom: 32px;
}
.tech__image img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .tech__bg {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }
  .tech__main {
    padding: 40px;
  }
  .tech__textfield {
    max-width: 512px;
  }
  .tech__image {
    width: 120%;
    height: 357px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1440px) {
  .tech {
    max-width: 1600px;
  }
  .tech__bg {
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
  }
  .tech__main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1440px;
  }
  .tech__textfield {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 539px;
    height: 243px;
    margin: 0px 84px;
  }
  .tech__image {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 608px;
    height: 600px;
    margin-bottom: 0px;
    margin-right: -5vw;
  }
}/*# sourceMappingURL=Technology.css.map */